page-reset-password {
  form {
    margin-bottom: 32px;
    button {
      margin-top: 20px;
    }
    width: 75%;
    padding-left: 25%;
    padding-top: 10%;
  }

  .create-account{
  	margin-top: 20px;
  }
}