page-calculations {
  strong{
    color: 	#FF0000;
  }
  ion-card{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 70px;
    width:auto;

  }


}
