page-basic-patent-detail {

	.positionInfo {
		padding-left: 2%;
		margin-top: -20px;
	}

	ion-card {
	    border-top: 3px solid black;
	    border-right: 3px solid black;
	    border-left: 3px solid black;
	    border-bottom: 3px solid black;
	}

	.payNow {
		width: 25%;
		margin-left: 33%;
	}

	.positionDetailedInfoText{
		margin-left: -20px;
	}


}
